In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
a=pd.read_excel('F:\\suryakant notes\\data cleaning1.xlsx')
a.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,0,0,0,1,0,0,0,1,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,0,0,0,1,0,0,0,1,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,0,0,1,0,0,0,1,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,0,0,0,1,0,0,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,0,0,0,1,0,0,0,1,0

In [6]:
x=a.drop('SalePrice',axis=1)
y=a['SalePrice']

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=242)

In [9]:
from sklearn.tree import DecisionTreeRegressor

In [10]:
ob=DecisionTreeRegressor()

In [11]:
ob.fit(x_train,y_train)

DecisionTreeRegressor()

In [12]:
ob.score(x_test,y_test)

0.47379887267081144

In [13]:
x_test.iloc[-1,:]

Id                        424.0
MSSubClass                 60.0
LotFrontage                80.0
LotArea                  9200.0
OverallQual                 8.0
                          ...
SaleCondition_AdjLand       0.0
SaleCondition_Alloca        0.0
SaleCondition_Family        0.0
SaleCondition_Normal        1.0
SaleCondition_Partial       0.0
Name: 423, Length: 244, dtype: float64

In [15]:
ob.predict([x_test.iloc[-1,:]])

c:\users\jambhale\appdata\local\programs\python\python38\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([403000.])

In [16]:
y_test.iloc[-1]

315000

In [17]:
pre=ob.predict(x_test)
pre

array([118500., 215000., 100000., 141000., 315500., 140200., 197000.,
       192000., 125000., 213500., 167000., 188500.,  89500., 142600.,
       192000., 142600., 162900., 120000., 235000., 133700., 144000.,
       185000., 261500., 133000., 128000., 125000., 198500., 130000.,
       217000., 120000., 286000., 178000., 149000., 284000., 162900.,
       127500., 167000., 165600., 167000., 183200., 190000., 131500.,
       381000., 131400., 189000., 140000., 167000., 181000., 424870.,
       122000., 118858., 175000., 159895., 125500.,  85000., 230000.,
       223500.,  72500., 135000., 119500., 155000.,  61000., 284000.,
       139000.,  92900., 115000., 128000., 144000.,  89500., 110500.,
       159950., 135000., 135000., 157500., 143000., 123000., 156000.,
       301500., 171750., 158000., 180000., 192500.,  79900., 192500.,
       142000., 116000., 194000., 124900.,  83000., 187500., 190000.,
       127000., 162000., 259000., 189000., 274725.,  84900., 176000.,
       415298., 155000., 181000., 235000., 135000., 244000., 107000.,
       205000., 129500., 177000., 260000., 164000., 136500., 159500.,
       130000.,  91500., 131400., 285000., 140000.,  97000., 162900.,
       169000., 113000., 113000., 309000., 143000., 167500., 102776.,
       124000., 158000., 159000., 135000., 265900., 176000., 165000.,
       310000., 274725., 206300., 120000.,  90000., 185000., 189000.,
       122000., 134432., 168500., 130000., 204000., 140000., 555000.,
       159000., 130000., 290000., 174000., 119000., 155000., 259000.,
       176500., 189000., 167500., 181000., 108000., 275000., 189000.,
       215000., 134500., 167500., 119500., 242000., 242000.,  90350.,
       270000., 259000., 221500., 129500., 136500., 149000., 113000.,
       125000., 141000., 185000., 359100., 158000., 163000., 206900.,
       140000., 144000., 138000., 134500., 201000., 165000., 230000.,
       162900.,  80000., 154900.,  82000., 127000., 170000., 184900.,
       159500., 440000., 226700., 234000., 139400., 139950., 119750.,
       259000., 219500., 170000.,  79000., 158000., 320000., 125500.,
        79900., 167000., 134900., 130000., 220000., 183000., 164700.,
       158000., 153500., 125000., 318061., 309000., 325300., 217000.,
        82000., 155000., 128000., 128000., 130000., 229456., 625000.,
       148000., 157000.,  95000., 169900., 124000.,  93500., 112000.,
       140000., 126000.,  91000., 310000., 328000., 172500., 125500.,
       118500., 128500., 181000., 134800., 212000., 215000., 189000.,
       144000., 122000.,  79000., 194500., 116000., 162900., 136000.,
       174000., 320000., 270000., 140000., 279500.,  52500., 180000.,
       257500., 153500., 130250., 212000., 152000., 164000., 210000.,
       252000., 107000.,  90350., 112000., 137500., 280000., 350000.,
       155900., 315000., 156000., 328000., 341000., 246578., 284000.,
       182000., 196000., 115000., 625000., 403000.])

In [18]:
y_test

74      107400
340     202900
778     144000
1274    139000
409     339750
         ...
805     227680
1056    185850
154     125000
523     184750
423     315000
Name: SalePrice, Length: 292, dtype: int64